# Security: Secrets & Environment Variables
.env
.env.*

# Security: Google Cloud Service Account Credentials
*key*.json
*credential*.json
gcp-key.json

# Python standard exclusions
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.pytest_cache/

# Node/React/Vite exclusions
node_modules/
dist/
dist-ssr/
.DS_Store

# Frontend specifics
firebase.js